[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/mkasun/templates]
row=1
col=0

[/home/mkasun/go]
row=0
col=1

[/home/mkasun/Downloads]
row=4
col=1

[/home/mkasun/downloads]
row=5
col=0

[/home/mkasun/Dropbox]
row=2
col=1

[/home/mkasun/documents]
row=6
col=0

[/home/mkasun/tmp]
row=8
col=0

[/home/mkasun/bin]
row=5
col=1

[/home/mkasun/desktop]
row=7
col=0

[/home/mkasun/videos]
row=0
col=0

[/home/mkasun/music]
row=4
col=0

[/home/mkasun/pictures]
row=3
col=0

[/home/mkasun/public]
row=2
col=0

[/home/mkasun/netmaker]
row=1
col=1

[/home/mkasun/hostctl]
row=3
col=1

